<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated logmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="logmodel.presentation.LogmodelModelWizardID"
            name="%_UI_LogmodelModelWizard_label"
            class="logmodel.presentation.LogmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LogmodelModelFile.gif">
         <description>%_UI_LogmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated logmodel -->
      <editor
            id="logmodel.presentation.LogmodelEditorID"
            name="%_UI_LogmodelEditor_label"
            icon="icons/full/obj16/LogmodelModelFile.gif"
            extensions="logmodel"
            class="logmodel.presentation.LogmodelEditor"
            contributorClass="logmodel.presentation.LogmodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated logmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="specmodel.presentation.SpecmodelModelWizardID"
            name="%_UI_SpecmodelModelWizard_label"
            class="specmodel.presentation.SpecmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpecmodelModelFile.gif">
         <description>%_UI_SpecmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated logmodel -->
      <editor
            id="specmodel.presentation.SpecmodelEditorID"
            name="%_UI_SpecmodelEditor_label"
            icon="icons/full/obj16/SpecmodelModelFile.gif"
            extensions="specmodel"
            class="specmodel.presentation.SpecmodelEditor"
            contributorClass="specmodel.presentation.SpecmodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated jobnetz -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="jobnetz.presentation.JobnetzModelWizardID"
            name="%_UI_JobnetzModelWizard_label"
            class="jobnetz.presentation.JobnetzModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JobnetzModelFile.gif">
         <description>%_UI_JobnetzModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated jobnetz -->
      <editor
            id="jobnetz.presentation.JobnetzEditorID"
            name="%_UI_JobnetzEditor_label"
            icon="icons/full/obj16/JobnetzModelFile.gif"
            extensions="jobnetz"
            class="jobnetz.presentation.JobnetzEditor"
            contributorClass="jobnetz.presentation.JobnetzActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated techmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="techmodel.presentation.TechmodelModelWizardID"
            name="%_UI_TechmodelModelWizard_label"
            class="techmodel.presentation.TechmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TechmodelModelFile.gif">
         <description>%_UI_TechmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated techmodel -->
      <editor
            id="techmodel.presentation.TechmodelEditorID"
            name="%_UI_TechmodelEditor_label"
            icon="icons/full/obj16/TechmodelModelFile.gif"
            extensions="techmodel"
            class="techmodel.presentation.TechmodelEditor"
            contributorClass="techmodel.presentation.TechmodelActionBarContributor">
      </editor>
   </extension>
</plugin>
